# https://youtu.be/BBoUJYT0jxY?t=1097

In [34]:
import pandas as pd

rows = 7
df=pd.read_csv('MaunaLoaDailyTemps.csv',index_col='DATE',parse_dates=True)
df=df.dropna()
# print('Shape of data',df.shape)
df = df.head(rows) 
df.drop(['MinTemp', 'MaxTemp', 'Sunset', 'Sunrise', ], axis = 1, inplace = True)

df

            AvgTemp
DATE
2014-01-01     40.0
2014-01-02     43.0
2014-01-03     41.0
2014-01-04     37.0
2014-01-05     31.0
2014-01-06     31.0
2014-01-07     37.0

In [40]:
avg_tmp = list(df['AvgTemp']) 
avg_tmp

[40.0, 43.0, 41.0, 37.0, 31.0, 31.0, 37.0]

In [51]:
n_mov_avg = 5  # (days) odd no. is preffered...
total = 0

# for j in range()
for i in range(n_mov_avg):
    total += avg_tmp[i]

print(total)

192.0

In [37]:
df_m_avg = df.assign( Moving_Total = ['Delhi', 'Bangalore', 'Chennai', 'Patna', 'a', 'b', 'c'] ) 
df_m_avg

            AvgTemp Moving_Total
DATE
2014-01-01     40.0        Delhi
2014-01-02     43.0    Bangalore
2014-01-03     41.0      Chennai
2014-01-04     37.0        Patna
2014-01-05     31.0            a
2014-01-06     31.0            b
2014-01-07     37.0            c